.nosotros{
    font-weight: bolder;
    padding-top: 60px;
    font-family: monospace;
}


.nosotros_texto{
    text-align: left;
    font-family: monospace;
    margin-left: 30px;
    margin-right: 30px;
}    

.tags {
    border-bottom: 1px solid gray;
    font-family: monospace;
}

.tags ul {
    padding: 0;
    list-style: none;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
    font-family: monospace;
}
